<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="excludeCustomServiceBehavior" type="WcfMessageInterceptor.Configurations.ExcludeCustomServiceBehavior, WcfMessageInterceptor"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="customInspectorBehavior" type="WcfServiceDemo.CustomInspectorBehaviorExtension, WcfServiceDemo" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="WcfServiceDemo.TestService" behaviorConfiguration="withCustomInspectorBehavior">
        <endpoint name="RESTEndpoint" address="rest" binding="webHttpBinding"
                  contract="WcfServiceDemo.ServiceContracts.ITestService" behaviorConfiguration="webBehavior">
        </endpoint>
        <endpoint  name="SOAPEndpoint"  address="soap" binding="basicHttpBinding"
                   contract="WcfServiceDemo.ServiceContracts.ITestService" >
        </endpoint>
      </service>
      <service name="WcfServiceDemo.SampleService" behaviorConfiguration="withCustomInspectorBehavior">
        <endpoint name="RESTEndpoint" address="rest" binding="webHttpBinding"
                  contract="WcfServiceDemo.ServiceContracts.ISampleService" behaviorConfiguration="webBehavior">
        </endpoint>
        <endpoint name="SOAPEndpoint" address="soap" binding="basicHttpBinding"
                  contract="WcfServiceDemo.ServiceContracts.ISampleService" >
        </endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2097152" maxBufferSize="2097152" transferMode="Streamed"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="withCustomInspectorBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <customInspectorBehavior/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <excludeCustomServiceBehavior>
    <excludeSettings>
      <add methodName="DoWork" reason="Nothing"  />
      <add methodName="GetString" reason="Nothing" />
    </excludeSettings>
  </excludeCustomServiceBehavior>
</configuration>
