<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CheckInterceptType" value="WcfServiceDemo.CheckInterceptor, WcfServiceDemo.dll" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="customInspectorBehavior" type="MessageInterceptor.CustomInspectorBehaviorExtension, MessageInterceptor" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="WcfServiceDemo.TestService" behaviorConfiguration="withCustomInspectorBehavior">
        <endpoint name="RESTEndpoint" address="api" binding="webHttpBinding" contract="WcfServiceDemo.ServiceContracts.ITestService" behaviorConfiguration="webBehavior">
        </endpoint>
        <endpoint name="SOAPEndpoint" address="soap" binding="basicHttpBinding" contract="WcfServiceDemo.ServiceContracts.ITestService">
        </endpoint>
      </service>
      <service name="WcfServiceDemo.SampleService" behaviorConfiguration="withCustomInspectorBehavior">
        <endpoint name="RESTEndpoint" address="api" binding="webHttpBinding" contract="WcfServiceDemo.ServiceContracts.ISampleService" behaviorConfiguration="webBehavior">
        </endpoint>
        <endpoint name="SOAPEndpoint" address="soap" binding="basicHttpBinding" contract="WcfServiceDemo.ServiceContracts.ISampleService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2097152" maxBufferSize="2097152" transferMode="Buffered" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="withCustomInspectorBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <customInspectorBehavior />
        </behavior>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
